{% set grunt = salt['grains.filter_by']({
    'default': {
      'logdir':   '/var/log/grunt',
      'pkg':      'grunt',
      'pkg_cli':  'grunt-cli',
    },
},
merge=salt['pillar.get']('grunt:lookup'), base='default') %}
